/* ------------------------------------
    공통
------------------------------------ */
/* 서브공통 */
section.sub {padding:70px 0 140px; }
section.sub_section {padding:70px 0; }
section.sub_section.nopadding {padding:0; }
section.sub_section_top {padding:0 0 70px; }
section.sub_section_bot {padding:70px 0 140px; }

/* 확대보기 */
.zoom_view_wrap.modal_inner {background-color:transparent; }
.zoom_view_wrap .modal_body {overflow:visible; }
.zoom_view_wrap .slide_arrow {z-index:10; }
.zoom_view_wrap .count_pager {position:absolute; left:0; bottom:calc(100% + 29px); }
.zoom_view_wrap .count_pager .swiper-pagination-current {color:#fff; }
.zoom_view_wrap .more_btn {height:45px; border:1px solid #ddd; background-color:#fff; }
.zoom_prod_list li {display:flex; }
.zoom_prod_list li .img_box {overflow:hidden; position:relative; display:flex; align-items:center; width:572px; height:572px; background-color:#f9f9f9; border-top-left-radius:3px; border-bottom-left-radius:3px; }
.zoom_prod_list li .img_box img {width:100%; height:100%; object-fit:cover; }
.zoom_prod_list li .img_box .zzim_btn {position:absolute; right:30px; bottom:30px; }
.zoom_prod_list li .txt_box {display:flex; flex-direction: column; justify-content: space-between; width:calc(100% - 572px); padding:40px; background-color: #fff; }
.zoom_prod_list li .txt_box h5 {font-size:30px; font-weight:600; }
.zoom_prod_list li .txt_box p {padding:10px 0; font-size:20px; font-weight:300; }
.zoom_prod_list li .txt_box b {font-size:24px; font-weight:600; }
.zoom_prod_list li .txt_box a {display:block; width:100%; border:1px solid #DADDE0; padding:12px 0; font-size:18px; border-radius:3px; text-align:center; }


/* 도매업체 공통 */
.obtain_list li + li {margin-top:20px; }
.obtain_list li {display:flex; padding:18px; background-color:#F5F5F5; border-radius:3px; }
.obtain_list li .txt_box {display:flex; flex-direction:column; justify-content:space-between; width:50%; }
.obtain_list li .txt_box a {display:flex; align-items:center; font-size:20px; font-weight:600; }
.obtain_list li .txt_box a img {margin-right:10px; }
.obtain_list li .txt_box a svg {width:24px; height:24px; }
.obtain_list li .txt_box i {display:block; padding:5px 10px; font-size:14px; color:var(--gray_color); font-style:normal; }
.obtain_list li .txt_box .tag {display:flex; flex-wrap:wrap; gap:5px; }
.obtain_list li .txt_box .tag span {padding:4px 10px; border: 0.5px solid rgba(218, 221, 224, 0.60); font-size:14px; border-radius: 3px; background: rgba(255, 255, 255, 0.70);}
.obtain_list li .txt_box .zzim_btn {display:flex; align-items:center; gap:6px; font-size:13px; color:var(--gray_color); font-weight:500; }
.obtain_list li .txt_box .zzim_btn svg {width:20px; height:18px; stroke:var(--gray_color); fill:transparent; }
.obtain_list li .txt_box .zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }

.obtain_list li .prod_box {display:grid; grid-template-columns:repeat(3,1fr); gap:20px; align-items:center; width:50%; }
.obtain_list li .prod_box .img_box {overflow:hidden; position:relative; width:100%; padding-bottom:100%; border-radius:3px; background-color:#dfdfdf; }
.obtain_list li .prod_box .img_box img {position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:100%; height:100%; object-fit:cover; border-radius:3px; }
.obtain_list li .prod_box .img_box .zzim_btn {z-index:2; position:absolute; right:12px; bottom:12px; }

.obtain_list.type02 li {flex-direction:column; gap:14px; }
.obtain_list.type02 li .txt_box {width:100%; gap:10px; }
.obtain_list.type02 li .txt_box i {padding:5px 0;}
.obtain_list.type02 li .prod_box {width:100%; }

.slide_box .obtain_list.type02 li + li {margin-top:0; }

/* 업체 리스트 */
.company_list li a {display:block; border: 0.5px solid #DADDE0; padding:15px 10px 20px; border-radius: 3px; background: #F5F5F5; text-align:center; }
.company_list li b {font-size:20px; font-weight:600;}
.company_list li .tag {display:flex; align-items:center; justify-content:center; gap:8px; margin-top:5px; }
.company_list li .tag span {min-width:80px; padding:3px 5px; border: 0.5px solid #DADDE0; font-size:16px; font-weight:400; border-radius: 3px; background: rgba(255, 255, 255, 0.90);}


/* 띠배너 공통 */
.line_common_banner {overflow:hidden; position:relative; }
.line_common_banner li {height:240px; border-radius:3px; background-repeat:no-repeat; background-position:center center; background-size:cover;  }
.line_common_banner li > a {display:block; width:100%; height:100%; padding:35px 80px; }
.line_common_banner li .txt_box {color:#fff; }
.line_common_banner li .txt_box.type02 {color:#475872; }
.line_common_banner li .txt_box p {margin-bottom:20px; font-size:30px; font-weight:600; line-height:1.4; }
.line_common_banner li .txt_box span {font-size:20px; font-weight:300; }
.line_common_banner .slide_arrow {z-index:10; }
.line_common_banner .slide_arrow svg {stroke-width:2px; }
.line_common_banner .slide_arrow.prev {left:0; }
.line_common_banner .slide_arrow.next {right:0; }
.line_common_banner .count_pager {z-index:10; position:absolute; left:auto; right:24px; bottom:24px; border:0 none; background: rgba(70, 67, 63, 0.60); color:#fff; }
/* .line_common_banner .count_pager:after {content:'+'; display:inline-block; margin-left:10px; } */
.line_common_banner .count_pager.noplus:after {display:none; }
.line_common_banner .count_pager .swiper-pagination-current {color:#fff; }


/* 랭킹 */
.ranking_box {display:grid; grid-template-columns:repeat(2,1fr); gap:120px; }
.ranking_box li a {display:flex; align-items: center; justify-content: space-between; gap:10px; padding:8px 0; }
.ranking_box li i {font-weight:600; color:var(--main_color); font-style:normal;}
.ranking_box li p {flex-grow:1; text-align:left; }
.ranking_box li .tag {display:flex; gap:5px; }
.ranking_box li .tag span {padding:6px 10px; border:0.5px solid rgba(218, 221, 224, 0.60); font-size:14px; font-weight:400; border-radius:3px; background-color:#f5f5f5;}


/* 뉴스 리스트 */
.news_list li {border: 1px solid rgba(218, 221, 224, 0.60); padding:15px 20px; border-radius: 3px;}
.news_list li + li {margin-top:14px; }
.news_list li a {position:relative; }
.news_list li .tit {overflow:hidden; text-overflow:ellipsis; font-size:18px; font-weight:500; white-space:nowrap; }
.news_list li .desc {overflow:hidden; text-overflow:ellipsis; width:calc(100% - 90px); color:var(--gray_color); white-space:nowrap; }
.news_list li span {position:absolute; right:0; bottom:0; font-size:14px; color:var(--gray_color); }
.news_list li span.new {position:absolute; right:0; top:0; bottom:auto; padding:1px 6px; border-radius:12px; background-color:var(--main_color); font-size:12px; color:#fff; letter-spacing:0.025em; }


/* 가구소식 리스트 */
.furniture_news {display:grid; grid-template-columns:repeat(3,1fr); gap:30px; }
.furniture_news li .img_box {overflow:hidden; position:relative; width:100%; padding-bottom:134%; border-radius:3px; background-color: #f0f0f0; }
.furniture_news li .img_box img {position:absolute; left:0; top:0; bottom:0; right:0; margin:auto; width:100%; height:100%; object-fit:cover; }
.furniture_news li .txt_box {border:1px solid #DADDE0; border-top:0 none; }
.furniture_news li .txt_box a {display:block; padding:25px; }
.furniture_news li .txt_box .tit {height:62px; font-size:24px; font-weight:600; line-height:1.3; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.furniture_news li .txt_box .desc {overflow:hidden; margin:3px 0; text-overflow:ellipsis; white-space:nowrap;}
.furniture_news li .txt_box span {font-size:14px; color:var(--gray_color); }

/* 매거진 리스트 */
.magazine_list {display:grid; grid-template-columns:repeat(2,1fr); gap:60px 30px; }
.magazine_list li .txt_box {border:1px solid #DBDBDB; border-bottom:0 none; border-top-left-radius:3px; border-top-right-radius:3px; }
.magazine_list li .txt_box a {display:block; padding:20px; }
.magazine_list li .txt_box .top {display:flex; align-items:center; justify-content:space-between; }
.magazine_list li .txt_box .top span {padding:5px 10px; font-size:14px; color:#333; background-color:#ededed; border-radius:3px; }
.magazine_list li .txt_box .top b {font-size:12px; color:#666; font-weight:400; }
.magazine_list li .txt_box .tit {margin-top:10px; font-size:24px; font-weight:600; color:#121212; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.magazine_list li .img_box img {width:100%; border-radius:3px; }

/* 커뮤니티 공통 - 탭 */
.community_tab {background-color:#F5F5F5; }
.community_tab ul {display:flex; }
.community_tab ul li {position:relative; width:100%; text-align:center; }
.community_tab ul li:before {content:''; position:absolute; right:0; top:calc(50% - 9px); width:2px; height:18px; background-color:#dadde0; }
.community_tab ul li:last-of-type:before {display:none; }
.community_tab ul li a {display:block; border-bottom:1px solid transparent; padding:14px 0; font-size:18px; font-weight:500; color:#bbbbb5; }
.community_tab ul li.active a {border-bottom:1px solid var(--main_color); font-weight:600; color:#46433f; }

/* 커뮤니티 공통 - 리스트 */
.community_list ul li {overflow:hidden; display:flex; border:1px solid #DADDE0; border-radius:3px; }
.community_list ul li + li {margin-top:20px; }
.community_list ul li .txt_box {width:100%; padding:20px }
.community_list ul li .txt_box .top {padding-bottom:20px; }
.community_list ul li .txt_box .top .category {display:flex; align-items:center; justify-content:space-between; }
.community_list ul li .txt_box .top .category span {padding:7px 11px; font-size:14px; font-weight:500; background-color:#ededed; border-radius:3px; }
.community_list ul li .txt_box .top .category span.notice {padding:5px 11px; min-width:76px; color:#fff; background-color:var(--main_color); text-align:center; }
.community_list ul li .txt_box .top .category b {font-weight:400; color:var(--gray_color); }
.community_list ul li .txt_box .top .title {margin-top:8px; font-size:18px; font-weight:500; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.community_list ul li .txt_box .bot {display:flex; align-items:center; justify-content:space-between; border-top:1px dashed #DADDE0; padding-top:20px; }
.community_list ul li .txt_box .bot .info {display:flex; align-items:center; }
.community_list ul li .txt_box .bot .info svg {width:24px; height:24px; fill:transparent; stroke:#8e8e8e; }
.community_list ul li .txt_box .bot .info span {padding:0 20px 0 5px; color:var(--gray_color); }
.community_list ul li .txt_box .bot .date {font-size:14px; color:var(--gray_color); }
.community_list ul li .img_box {overflow:hidden; display:flex; align-items: center; justify-content: center; width:300px; height:170px; border-radius:3px; }
.community_list ul li .img_box img {width:300px; height:170px; object-fit:cover; }

.community_write_btn {position:fixed; right:40px; bottom:130px; }

/* 커뮤니티 - 그룹 리스트 */
.group_list > li + li {margin-top:40px; }
.group_list > li {display:flex; gap:50px; padding:30px; border:1px solid #DADDE0; border-radius:3px; }
.group_list > li .left_box {width:340px; }
.group_list > li .left_box .img_box {display:flex; align-items:center; justify-content:center; width:100%; height:265px; }
.group_list > li .left_box .img_box img {border-radius:3px; }
.group_list > li .right_box {width:calc(100% - 390px); }
.group_list > li .right_box .name h5 {font-size:30px; font-weight:500; }
.group_list > li .right_box .name p {color:var(--gray_color); }
.group_list > li .right_box .name .member {display:flex; align-items:center; gap:6px; margin-top:7px; font-size:14px; color:#8e8e8e; }
.group_list > li .right_box .name .member svg {stroke:var(--gray_color); }
.group_list > li .right_box .list {margin-top:20px; }
.group_list > li .right_box .list li {border-top: 1px solid rgba(218, 221, 224, 0.60);}
.group_list > li .right_box .list li:last-of-type {border-bottom:1px solid rgba(218, 221, 224, 0.60); }
.group_list > li .right_box .list li a {display:flex; align-items:center; justify-content:space-between; width:100%; padding:10px 0; }
.group_list > li .right_box .list li b {font-weight:400; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.group_list > li .right_box .list li span {font-size:14px; color:var(--gray_color); }
.group_list > li .right_box .more_btn {width:300px; margin:30px auto 0; }

/* 수량 */
.count_box {display:inline-flex; border:1px solid #DADDE0; border-radius:3px; }
.count_box input {width:50px; text-align:center; }
.count_box button {padding:10px; border-radius:3px; }
.count_box button:first-of-type {border-right:1px solid #dadde0; }
.count_box button:last-of-type {border-left:1px solid #dadde0; }
.count_box button svg {width:18px; height:18px; }

/* custom_hover */
.custom_hover {position:relative; }
.custom_hover .hover_cont {position:absolute; right:0; top:90%; display:none; padding:10px; background-color: #fff; border-radius:5px; box-shadow:0 0px 5px rgba(187, 184, 181, 0.40); white-space:nowrap;}
.custom_hover:hover .hover_cont {display:block; }
/* ------------------------------------
    메인
------------------------------------ */
/* 메인공통 */
.main_section {padding:70px 0; }

/* main_visual */
.main_visual .slide_box {position:relative; overflow:hidden; }
.main_visual .slide_box li {background-color: #fff;}
.main_visual .slide_box li a {position:relative; display:block; }
.main_visual .slide_box li img {width:100%; }
.main_visual .slide_box.bg_gradient li a:before {content:''; position:absolute; left:0; top:0; width:100%; height:100%; /*background: linear-gradient(180deg, rgba(33, 33, 33, 0.66) 0%, rgba(0, 0, 0, 0) 50.18%);*/}
.main_visual .slide_box li span {display:none; }
.main_visual .slide_box li p {z-index:2; position:absolute; left:0; top:80px; width:100%; text-align:center; font-size:32px; color:#fff; line-height:1.4; }
.main_visual .slide_box li p b {font-size:50px; font-weight:600; }
.main_visual .slide_box .bottom_box {z-index:10; position:absolute; left:0; bottom:0; display:flex; align-items:center; justify-content:space-between; width:100%; padding:20px 40px; background: #00000099; color:#fff; }
.main_visual .slide_box .bottom_box a {padding:3px 10px; border: 1px solid #DADDE099; font-size:14px; border-radius:30px; }
.main_visual .slide_box .bottom_box .count_pager {border:0 none; color:#fff; font-size:14px; }
.main_visual .slide_box .bottom_box .count_pager .swiper-pagination-current {color:#fff; }
.main_visual .slide_box .slide_arrow {z-index:10; top:calc(50% - 80px); margin-bottom:70px;}
.main_visual .slide_box .slide_arrow svg {stroke-width:2px; }

/* main_mid_banner */
.main_mid_banner {padding:30px 0 15px; }
.main_mid_banner .slide_box li {border:1px solid #ede8d9; background-color:#ffeef0; border-radius:3px; text-align:center; }
.main_mid_banner .slide_box li a {display:block; padding:17px 0; }
.main_mid_banner .slide_box li img {width:50px; margin:0 auto; }
.main_mid_banner .slide_box li span {font-size:18px; }

/* category_banner */
.category_banner .inner {padding:30px 0; border-bottom: 1px solid rgba(218, 221, 224, 0.60); }
.category_banner .slide_box li {width:90px; }
.category_banner .slide_box i {position:relative; display:block; width:100%; padding-bottom:100%; background-color:#F5F5F5; border-radius:50%; filter: grayscale(100%);}
.category_banner .slide_box li:hover i,
.category_banner .slide_box li.on i {background-color:var(--main_color); filter: grayscale(0%);}

.category_banner .slide_box li:hover svg,
.category_banner .slide_box li.on svg,
.category_banner .slide_box li:hover img,
.category_banner .slide_box li.on img {stroke:#fff; filter: brightness(0) invert(1);}

.category_banner .slide_box .active i {background-color:#46433F; }

.category_banner .slide_box i b,
.category_banner .slide_box i svg,
.category_banner .slide_box i img {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); }
.category_banner .slide_box i b {font-size:15px; font-weight:700; color:#fff; font-style: normal;}
.category_banner .slide_box i svg {width:34px; height:34px; stroke:var(--gray_color); }
.category_banner .slide_box i img {width:30px; }
.category_banner .slide_box span {display:block; margin-top:2px; text-align:center; }

/* theme_prod */
.theme_prod .tab_content .title {position:relative; padding:60px 0 40px; margin-top:24px;  text-align:center; }
.theme_prod .tab_content .title .bg {position:absolute; left:0; top:0; width:100%; height:379px; }
.theme_prod .tab_content .title h4 {position:relative; z-index:1; font-size:40px; font-weight:600; }
.theme_prod .tab_content .title p {position:relative; z-index:1; font-size:30px; color:#fff; font-weight:400; }
.theme_prod .tab_content .slide_box {padding:0 20px; }

/* popular_prod */
.popular_prod .slide_box ul {display:grid; grid-template-columns: repeat(4,1fr); gap:10px; }
.popular_prod .slide_box ul li:first-of-type {grid-column:span 2; grid-row:span 2; }
.popular_prod .popular_banner {position:relative; border-radius: 4px;overflow:hidden;}
.popular_prod .popular_banner .txt_box {padding-top:150px; text-align:center; position:absolute; top:0;left:50%;transform: translateX(-50%);width:100%;}
.popular_prod .popular_banner .txt_box p {color:#fff; font-size:30px; font-weight:500; }
.popular_prod .popular_banner .txt_box p b {font-size:40px; font-weight:700; }
.popular_prod .popular_banner .txt_box a {display:inline-block; padding:10px 28px; margin-top:14px; border:1px solid #333; background-color:rgba(255, 255, 255, 0.80); border-radius:40px; }
.popular_prod .popular_banner img{width:100%;object-fit: cover;border-radius: 4px;}

.popular_prod.type02 .slide_box ul {grid-template-columns: repeat(5,1fr);}
.popular_prod.type02 .slide_box ul li:first-of-type {grid-row:span 3; }

/* 2줄 ellipsis 0426 */
.main_popular .prod_item .txt_box p {-webkit-line-clamp:1; text-overflow: ellipsis;overflow: hidden;word-break: break-word;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_popular .bottom_box {display:flex; align-items:center; justify-content:space-between; gap:150px; padding:15px 40px; background: #E9E9E8; }
.main_popular .bottom_box .bot_slide {display:flex; align-items: center;}
.main_popular .bottom_box .bot_slide .arrow svg {width:30px; height:30px; }
.main_popular .bottom_box .bot_slide .arrow.swiper-button-lock {display:block; opacity:0; }
.main_popular .bottom_box .bot_slide .arrow.prev svg {transform:rotate(180deg); }
.main_popular .bottom_box .pager_box ul {display:flex; align-items: center; }
.main_popular .bottom_box .pager_box ul li {width:auto; font-size:18px; color: rgba(70, 67, 63, 0.50); }
.main_popular .bottom_box .pager_box ul li.swiper-slide-thumb-active {font-size:20px; font-weight:600; color:#46433f; }

.main_popular .bottom_box .right_box {display:flex; align-items:center; white-space:nowrap; }
.main_popular .bottom_box .right_box a {border:1px solid rgba(187, 184, 181, 0.50); padding:4px 10px; font-size:14px; font-weight:600; border-radius:30px; }
.main_popular .bottom_box .right_box .count_pager {border:0 none; color:#46433F; }


/* video_prod */
.video_prod .video_box {position:relative; padding:60px 0 80px; background-color:#242321; text-align:center; }
.video_prod .video_box .txt_box {padding-bottom:20px; }
.video_prod .video_box .txt_box h4 {font-size:40px; font-weight:600; color:#fff; line-height:1.2; }
.video_prod .video_box .txt_box h4 span {font-size:30px; font-weight:400; }
.video_prod .video_box .slide_box {width:690px; max-width:100%; margin:0 auto; }
.video_prod .video_box .slide_box a {position:relative; display:block; }
.video_prod .video_box .slide_box a:before {content:''; position:absolute; left:calc(50% - 29px); top:calc(50% - 26.5px); width:58px; height:53px; background:url('/img/icon/play_btn.svg') no-repeat center center; }
.video_prod .video_box .count_pager {display:inline-block; margin-top:20px; }
.video_prod .video_box .count_pager .swiper-pagination-current {color:#fff; }

.main_board .board_wrap {display:grid; grid-template-columns:repeat(2,1fr); gap:30px; }
.main_board_list li {display:flex; align-items:center; justify-content:space-between; padding:11px 4px; border-top:1px solid rgba(218, 221, 224, 0.60); }
.main_board_list li:last-of-type {border-bottom:1px solid rgba(218, 221, 224, 0.60); }
.main_board_list li .title {width:calc(100% - 60px); }
.main_board_list li .title a {display:flex; align-items: center; gap:10px; }
.main_board_list li .title span {flex-shrink:0; display:flex; align-items:center; justify-content:center; width:90px; height:28px; font-size:13px; font-weight:400; color:#fff; border-radius:4px; background-color:#46433F; }
.main_board_list li .title p {overflow:hidden; font-size:15px; text-overflow:ellipsis; white-space:nowrap; }
.main_board_list li span {font-size:12px; color:var(--gray_color); }

.main_board_list2 li {display:grid; grid-template-columns:repeat(2,1fr); border:1px solid #DADDE0; border-radius:3px; }
.main_board_list2 li + li {margin-top:20px; }
.main_board_list2 li .img_box {overflow:hidden; display:flex; align-items:center; height:155px; }
.main_board_list2 li .img_box a,
.main_board_list2 li .img_box img {width:100%; height:100%; object-fit:cover; }
.main_board_list2 li .txt_box a {display:block; padding:20px 22px; }
.main_board_list2 li .txt_box b {display:block; font-weight:600; line-height:1.2; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.main_board_list2 li .txt_box span {font-size:12px; color:var(--gray_color); }

/* main_family */
.main_family {padding-bottom:140px; }
.main_family ul {gap:30px; margin-top:40px; }
.main_family ul li {text-align:center; }
.main_family ul li .img_box {display:flex; align-items: center; justify-content: center; width:100%; height:86px; border-radius: 4px; border: 1px solid rgba(218, 221, 224, 0.60);}
.main_family ul li p {margin-top:5px; }



/* ------------------------------------
    서브
------------------------------------ */

/* 인기브랜드 */
.popular_con01 .slide_box ul + ul {margin-top:70px; }

/* 조달가구 */
.sub.obtain_con01 {padding-top:0; }
.obtain_con01 .obtain_visual {margin-bottom:70px; }

/* 신상품 */
.new_arrival_con01 .count_pager {position:absolute; left:50%; bottom:-60px; transform:translateX(-50%); }
.new_arrival_con03 .swiper-wrapper {transition-timing-function: linear;}

/* 도매업체 */
.wholesaler_con01 .bottom_box {display:flex; align-items:center; justify-content:space-between; gap:150px; padding:15px 40px; background: #E9E9E8; }
.wholesaler_con01 .bottom_box .bot_slide {display:flex; align-items: center;}
.wholesaler_con01 .bottom_box .bot_slide .arrow svg {width:30px; height:30px; }
.wholesaler_con01 .bottom_box .bot_slide .arrow.swiper-button-lock {display:block; opacity:0; }
.wholesaler_con01 .bottom_box .bot_slide .arrow.prev svg {transform:rotate(180deg); }
.wholesaler_con01 .bottom_box .pager_box ul {display:flex; align-items: center; }
.wholesaler_con01 .bottom_box .pager_box ul li {width:auto; font-size:18px; color: rgba(70, 67, 63, 0.50); }
.wholesaler_con01 .bottom_box .pager_box ul li.swiper-slide-thumb-active {font-size:20px; font-weight:600; color:#46433f; }

.wholesaler_con01 .bottom_box .right_box {display:flex; align-items:center; white-space:nowrap; }
.wholesaler_con01 .bottom_box .right_box a {border:1px solid rgba(187, 184, 181, 0.50); padding:4px 10px; font-size:14px; font-weight:600; border-radius:30px; }
.wholesaler_con01 .bottom_box .right_box .count_pager {border:0 none; color:#46433F; }

/* 이달의 딜 */
.thismonth_con01 .bottom_box {display:flex; align-items:center; justify-content:space-between; gap:150px; padding:15px 40px; background: #E9E9E8; }
.thismonth_con01 .bottom_box .bot_slide {display:flex; align-items: center;}
.thismonth_con01 .bottom_box .bot_slide .arrow svg {width:30px; height:30px; }
.thismonth_con01 .bottom_box .bot_slide .arrow.swiper-button-lock {display:block; opacity:0; }
.thismonth_con01 .bottom_box .bot_slide .arrow.prev svg {transform:rotate(180deg); }
.thismonth_con01 .bottom_box .pager_box ul {display:flex; align-items: center; }
.thismonth_con01 .bottom_box .pager_box ul li {width:auto; font-size:18px; color: rgba(70, 67, 63, 0.50); }
.thismonth_con01 .bottom_box .pager_box ul li.swiper-slide-thumb-active {font-size:20px; font-weight:600; color:#46433f; }

.thismonth_con01 .bottom_box .right_box {display:flex; align-items:center; white-space:nowrap; }
.thismonth_con01 .bottom_box .right_box a {border:1px solid rgba(187, 184, 181, 0.50); padding:4px 10px; font-size:14px; font-weight:600; border-radius:30px; }
.thismonth_con01 .bottom_box .right_box .count_pager {border:0 none; color:#46433F; }

.thismonth_con01 .popular_prod .popular_banner .txt_box {padding-top:110px; }

/* 이달의 딜 모아보기 */
.thismonth_detail .detail_box + .detail_box {margin-top:80px; }
.thismonth_detail .detail_box .bot_btn {padding:15px 40px; background: #E9E9E8; }
.thismonth_detail .detail_box .bot_btn .zoom_btn {justify-content:center; width:200px; border:1px solid var(--gray_color); padding:7px 12px; margin:0 auto; border-radius:40px;  }
.thismonth_detail .detail_box .bot_btn .zoom_btn svg {width:16px; height:16px; }

/* 뉴스정보 */
.news_con02 dl {display:flex; border-top: 1px solid #46433F; border-bottom: 1px solid #46433F; }
.news_con02 dl dt {flex-shrink:0; display:flex; align-items: center; width:267px; padding:0 20px; background: #F5F5F5; text-align:center; }
.news_con02 dl dt .title h4 {font-size:30px; font-weight:600; color:#000; }
.news_con02 dl dt .title p {margin-top:10px; font-size:14px; }
.news_con02 dl dt .title .search_box {position:relative; margin-top:30px; }
.news_con02 dl dt .title .search_box input {width:100%; padding:12px 44px 12px 20px; border: 1px solid var(--gray_color); background-color:#F5F5F5; }
.news_con02 dl dt .title .search_box button {position:absolute; right:20px; top:12px; width:24px; }
.news_con02 dl dt .title .search_box button svg {width:24px; height:24px; }
.news_con02 dl dd {width:calc(100% - 267px); padding:20px; }
.news_con02 dl dd .more_btn {display:block; width:300px; padding:12px 0; border:1px solid #dadde0; margin:20px auto 0; border-radius:3px; font-size:16px; font-weight:600; text-align:center; }

.news_con04 .filter_box button {justify-content:space-between; width:500px; }

/* 일일 가구 뉴스 */
.daily_news_con01 .title .search_box {position:relative; width:500px; margin-top:30px; margin-left:auto; margin-right:0; }
.daily_news_con01 .title .search_box input {width:100%; padding:12px 44px 12px 20px; border: 1px solid var(--gray_color); background-color:#fff; }
.daily_news_con01 .title .search_box input::placeholder {color:var(--gray_color); }
.daily_news_con01 .title .search_box button {position:absolute; right:20px; top:12px; width:24px; }
.daily_news_con01 .title .search_box button svg {width:24px; height:24px; }

.daily_news_con01 .title .bg_box {margin:40px 0; padding:24px 0; background:#f5f5f5; text-align:center; }
.daily_news_con01 .title h4 {font-size:30px; font-weight:600; color:#000; }
.daily_news_con01 .title span {margin-top:10px; font-size:20px; }

/* 커뮤니티 */
.community_con01 .title .search_box {position:relative; width:500px; margin-top:30px; margin-left:auto; margin-right:auto; }
.community_con01 .title .search_box input {width:100%; padding:12px 44px 12px 20px; border: 1px solid var(--gray_color); background-color:#fff; }
.community_con01 .title .search_box input::placeholder {color:var(--gray_color); }
.community_con01 .title .search_box > button {position:absolute; right:20px; top:12px; width:24px; }
.community_con01 .title .search_box > button svg {width:24px; height:24px; }

.community_con01 .tab_layout {width:calc(100% - 248px); margin:0 auto 40px; }
.community_con01 .tab_layout ul {flex-wrap:wrap; justify-content:center; }
.community_con01 .tab_layout ul li {width:auto; }

/* 커뮤니티 구독 */
.subscribe_box {margin-bottom:10px; text-align:right; }
.subscribe_box button {display:flex; align-items:center; gap:5px; margin-left:auto; padding:5px 12px; border:1px solid #e0e0e0; border-radius:20px; background-color:#fff; transition:all 0.5s; }
.subscribe_box button:hover {background-color:#d9d9d9; }
.subscribe_box button i {display:inline-flex; width:10px; height:5px; border-left:1px solid var(--main_color); border-bottom:1px solid var(--main_color); transform:rotate(-45deg); }
.subscribe_box button.active {border:1px solid var(--main_color); background-color: #FFF5F6; color:var(--main_color); }

/* 커뮤니티 글쓰기 */
.community_write_con01 .title {padding-bottom:10px; border-bottom:1px solid #F2F2F2; margin:10px 0 30px;  }
.community_write_con01 .title input {width:100%; font-size:18px; }
.community_write_con01 .btn_box {display:flex; justify-content:flex-end; gap:10px; margin-top:10px; }
.community_write_con01 .btn_box button {width:150px; }

/* 가구인모임 - 상세 */
.group_detail {display:flex; align-items:flex-start; gap:50px;  }
.group_detail .left_info {width:360px; padding:40px 20px; border:1px solid #dadde0; }
.group_detail .left_info .name {padding-top:40px; }
.group_detail .left_info .name h5 {font-size:30px; }
.group_detail .member_list {padding-top:40px; }
.group_detail .member_list .top {display:flex; align-items:center; justify-content:space-between; padding-bottom:10px; border-bottom:1px solid #DADDE0; }
.group_detail .member_list .top .member {display:flex; align-items:center; gap:2px; font-size:14px; }
.group_detail .member_list .top .member svg {stroke:#46433f; }
.group_detail .member_list .top .member_btn {display:flex; align-items:center; color:var(--gray_color); font-size:14px; }
.group_detail .member_list .top .member_btn span {margin-left:5px; }
.group_detail .member_list .top .member_btn svg {transform:rotate(0deg); transition:all 0.3s; }
.group_detail .member_list .top .member_btn.off svg {transform:rotate(180deg); }
.group_detail .member_list_box {overflow-y:auto; max-height:530px; }
.group_detail .member_list_box li {padding:12px 16px; }
.group_detail .member_list_box li.head {padding:16px 16px; }
.group_detail .member_list_box li a {display:flex; align-items:center; justify-content:space-between; }
.group_detail .member_list_box li p {display:flex; align-items:center; gap:10px; }
.group_detail .member_list_box li p span {padding:2px 4px; border:1px solid var(--main_color); border-radius:3px; color:var(--main_color); font-size:14px; }
.group_detail .member_list_box li p span.head {background-color:var(--main_color); color:#FFF; }
.group_detail .member_list_box li p span.sale {border-color:#9462C3; color:#9462C3; }
.group_detail .member_list_box .right_link {display:flex; align-items:center; gap:10px; }
.group_detail .member_list_box .right_link button {font-size:14px; color:#bbb8b5; }

.group_detail .right_box {width:calc(100% - 410px); }




/* ------------------------------------
    상품 상세
------------------------------------ */
.prod_detail_top {padding:40px 0 60px; }
.prod_detail_top .inner {display:flex;}
.prod_detail_top .img_box {display:flex; gap:12px; width:50%; height:528px; }
.prod_detail_top .img_box .left_thumb {overflow:hidden; width:60px; height:100%; }
.prod_detail_top .img_box .left_thumb .swiper-slide {position:relative; overflow:hidden; width:100%; padding-bottom:100%; height:auto; cursor:pointer; opacity:0.8; border-radius:3px; }
.prod_detail_top .img_box .left_thumb .swiper-slide.swiper-slide-thumb-active {opacity:1; }
.prod_detail_top .img_box .left_thumb .swiper-slide img {position:absolute; left:0; top:0; width:100%; height:100%; object-fit:cover; }
.prod_detail_top .img_box .big_thumb {overflow:hidden; width:calc(100% - 72px);  border-radius:3px; background-color:#F5F5F5; }
.prod_detail_top .img_box .big_thumb .swiper-wrapper {align-items:center; }
.prod_detail_top .img_box .big_thumb .swiper-wrapper li {height:100%; }
.prod_detail_top .img_box .big_thumb img {width:100%; height:100%; object-fit:cover; }

.prod_detail_top .txt_box {display:flex; flex-direction:column; justify-content:space-between; width:50%; min-height:528px; padding-left:40px; }
.prod_detail_top .txt_box .name h4 {font-size:22px; font-weight:700; line-height:136.364%; }
.prod_detail_top .txt_box .name .tag {display:flex; gap:6px; margin-bottom:10px; }
.prod_detail_top .txt_box .name .tag span {padding:4px 10px; font-size:14px; font-weight:400; border-radius:3px; }
.prod_detail_top .txt_box .name .tag span.new {border:1px solid var(--main_color); color:var(--main_color); }
.prod_detail_top .txt_box .name .tag span.event {color:#fff; background-color:var(--main_color); }
.prod_detail_top .info p {margin-bottom:30px; font-size:20px; font-weight:600; }
.prod_detail_top .info hr {margin:16px 0; border:0 none; border-top:1px solid rgba(218, 221, 224, 0.60); }
.prod_detail_top .info .company_info a {display:flex; align-items:center; justify-content:space-between; padding:16px 20px; border:1px solid var(--main_color); background-color:#fff; border-radius:3px; }
.prod_detail_top .info .company_info b {font-weight:600; color:#46433F; }
.prod_detail_top .info .company_info span {display:flex; align-items:center; }
.prod_detail_top .info .company_info svg {width:20px; height:20px; opacity:0.6; }
.prod_detail_top .info .link_box {display:flex; gap:8px; margin-top:30px; }
.prod_detail_top .info .link_box .btn {flex:1; font-weight:400; }
.prod_detail_top .info .link_box .btn svg {display:inline-flex; margin-right:5px; width:26px; height:26px; }
.prod_detail_top .info .link_box .btn.zzim_btn svg {stroke:#46433F; fill:transparent; }
.prod_detail_top .info .link_box .btn.zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }
.prod_detail_top .info .link_box .btn.inquiry {flex:2; }

.prod_detail_top .txt_box .btn_box {display:flex; gap:8px; margin-top:15px; }
.prod_detail_top .txt_box .btn_box .btn {width:100%; }
.prod_detail_top .txt_box .btn_box .btn.phone {color:#46483f; }
.prod_detail_top .txt_box .btn_box .btn svg {display:inline-flex; margin-right:8px; }

.prod_detail_top .txt_box .filter_dropdown_wrap li a {display:flex; align-items:center; justify-content:space-between;}
.prod_detail_top .txt_box .filter_dropdown_wrap .price {color:var(--main_color); }

.prod_detail_top .txt_box .option_result {padding:15px; border:1px solid #dadde0; border-radius:5px; background-color:#f7f7f7; font-weight:500; }
.prod_detail_top .txt_box .option_result .option_top {display:flex; align-items:center; justify-content:space-between; }
.prod_detail_top .txt_box .option_result .option_top button svg {width:20px; height:20px; }
.prod_detail_top .txt_box .option_result .option_count {display:flex; align-items:center; justify-content:space-between; margin-top:16px; }
.prod_detail_top .txt_box .option_result .option_count div {display:flex; align-items:center; border:1px solid #ddd; background-color:#fff; }
.prod_detail_top .txt_box .option_result .option_count div button {padding:10px; }
.prod_detail_top .txt_box .option_result .option_count div button svg {width:14px; height:14px; }
.prod_detail_top .txt_box .option_result .option_count div input {width:20px; text-align:center; }

.prod_detail {position:relative; padding:60px 0 140px; }
.prod_detail .info_quick {position:fixed; right:-240px; bottom:0;  width:240px; padding:20px; background-color:#fff; box-shadow:0 0 10px rgba(187, 184, 181, 0.50); transition:right 0.4s; }
.prod_detail .info_quick.active {right:0; }
.prod_detail .info_quick .com_link {display:flex; align-items:center; justify-content:space-between; padding:16px 20px; color:var(--gray_color); }
.prod_detail .info_quick .com_link svg {width:20px; height:20px; margin-right:0; opacity:0.6; }
.prod_detail .info_quick .btn {width:100%; font-weight:400; }
.prod_detail .info_quick .btn.estimate {margin-top:63px; }
.prod_detail .info_quick .btn svg {display:inline-flex; margin-right:5px; width:20px; height:20px; margin-top:-2px; }
.prod_detail .info_quick .btn.zzim_btn svg {stroke:#46433F; fill:transparent; }
.prod_detail .info_quick .btn.zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }

.prod_detail img {margin:0 auto; }

.company_phone_modal {padding:18px; }
.company_phone_modal h4 {padding-top:30px; font-size:20px; font-weight:600; text-align:center; }
.company_phone_modal h4 b {color:var(--main_color); font-weight:600; }
.company_phone_modal table {overflow:hidden; width:calc(100% - 44px); margin:40px auto;  border-radius:3px; box-shadow: 0 0 0 1px #46433F; }
.company_phone_modal table tr {border-bottom:1px solid #46433f; }
.company_phone_modal table tr:last-of-type {border-bottom:0 none; }
.company_phone_modal table th,
.company_phone_modal table td {padding:15px 10px; }
.company_phone_modal table th {font-weight:400; background-color:#F5F5F5; }


/* ------------------------------------
    브랜드 상세
------------------------------------ */
.company_detail_top .banner {position:relative; width:100%; height:359px; background-position:center center; background-repeat:no-repeat; background-size:cover; border-radius:3px; }
.company_detail_top .banner .profile_img {overflow:hidden; position:absolute; left:20px; bottom:20px; width:130px; height:130px; border-radius:50%; background-color:#46433F; }
.company_detail_top .banner .profile_img span {z-index:4; overflow:hidden; position:absolute; left:0; top:0; display:flex; align-items:center; justify-content:center; width:100%; height:100%; padding:20px; font-size:16px; color:#fff; font-weight:500; text-align:center; word-break:keep-all; background-color:#45433f; }
.company_detail_top .banner .profile_img img {position:relative; z-index:10; width: 94%;height: 94%;object-fit:cover;border-radius: 50%;margin-top: 3%;margin-left: 3%;}
.company_detail_top .banner .link_box {position:absolute; right:20px; bottom:20px; display:flex; gap:8px; }
.company_detail_top .banner .link_box button {padding:11px; border-radius:3px; border:1px solid var(--line, rgba(218, 221, 224, 0.60)); background:rgba(255, 255, 255, 0.80);}
.company_detail_top .banner .link_box button svg {width:26px; height:26px; }
.company_detail_top .banner .link_box button.zzim_btn svg {stroke:#46433F; fill:transparent; }
.company_detail_top .banner .link_box button.zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }
.company_detail_top .banner .link_box button.addLike svg {stroke:#46433F; fill:transparent; }
.company_detail_top .banner .link_box button.addLike.active svg {stroke:var(--main_color); fill:var(--main_color); }

.company_detail_top .info {display:flex; justify-content:space-between; margin-top:40px; }
.company_detail_top .info .left_box h3 {font-size:40px; font-weight:600; }
.company_detail_top .info .left_box .tag {display:flex; flex-wrap:wrap; align-items:center; gap:10px; margin-top:10px; }
.company_detail_top .info .left_box .tag p {font-size:18px; }
.company_detail_top .info .left_box .tag span {padding:6px 16px; font-size:18px; color:#8e8e8e; border-radius: 3px; border: 0.5px solid rgba(218, 221, 224, 0.60); background: var(--disable-bg, #F5F5F5);}
.company_detail_top .info .right_box {width:558px; }
.company_detail_top .info .right_box .link_box {display:grid; grid-template-columns:repeat(3,1fr); padding:16px 0; margin-bottom:20px; border:1px solid #dadde0; border-radius:3px; }
.company_detail_top .info .right_box .link_box p {position:relative; text-align:center; font-size:16px; }
.company_detail_top .info .right_box .link_box p:before {content:''; position:absolute; right:0; top:0; width:1.5px; height:100%; background-color:#DADDE0; }
.company_detail_top .info .right_box .link_box p:last-of-type:before {display:none; }
.company_detail_top .info .right_box .link_box p b {display:block; margin-top:5px; font-size:24px; font-weight:600; }
.company_detail_top .info .right_box .btn_box {display:flex; gap:8px; }
.company_detail_top .info .right_box .btn_box .btn {width:100%; }
.company_detail_top .info .right_box .btn_box .btn.phone {color:#46483f; }
.company_detail_top .info .right_box .btn_box .btn svg {display:inline-flex; margin-right:8px; }

.company_detail_top .notice_box {margin-top:95px;}
.company_detail_top .notice_box dl {border-top: 1px solid rgba(218, 221, 224, 0.60); }
.company_detail_top .notice_box dt {display:flex; align-items:center; justify-content:space-between; padding:16px 18px; border-bottom: 1px solid rgba(218, 221, 224, 0.60); cursor:pointer; }
.company_detail_top .notice_box dt p {display:flex; align-items:center; gap:10px; font-size:20px; color:var(--main_color); font-weight:500;}
.company_detail_top .notice_box dt p svg {width:30px; height:30px; }
.company_detail_top .notice_box dt > svg {width:24px; height:24px; transform:rotate(-180deg); }
.company_detail_top .notice_box dd {display:none; padding:40px 35px; border-bottom: 1px solid rgba(218, 221, 224, 0.60); background: #F5F6F8; }
.company_detail_top .notice_box dl.active dt > svg {transform:rotate(0); }
.company_detail_top .notice_box dl.active dd {display:block; }

.company_detail {margin-top:20px; padding-bottom:160px; }

.company_detail .box {padding:50px 0; border-bottom:12px solid #f5f6f8; }
.company_detail .box:last-of-type {border-bottom:0 none;}

.company_detail .detail .info table {width:100%; margin:40px 0 100px; border-top:1px solid #DADDE0; }
.company_detail .detail .info table tr {border-bottom:1px solid #DADDE0; }
.company_detail .detail .info table th {font-weight:400; background: #F5F5F5; }
.company_detail .detail .info table th,
.company_detail .detail .info table td {padding:20px 10px;}
.company_detail .detail img {margin:0 auto; }



/* ------------------------------------
    커뮤니티 상세
------------------------------------ */
.community_detail .title {padding-bottom:20px; border-bottom:1px solid #dadde0; }
.community_detail .title .tag {display:flex; gap:6px; margin-bottom:10px; }
.community_detail .title .tag span {padding:4px 10px; color:#fff; background-color:var(--main_color); font-size:14px; font-weight:400; border-radius:3px; }
.community_detail .title h3 {font-size:22px; font-weight:700; line-height:136.364%; }
.community_detail .title > p {margin-bottom:10px; font-size:14px; }
.community_detail .title .info {display:flex; align-items:center; justify-content:space-between; }
.community_detail .title .info p {color:var(--gray_color); }
.community_detail .title .info svg {display:inline-flex; width:24px; height:24px; }

.community_detail .content {padding:20px; }
.community_detail .content img {margin:0 auto; }

.community_detail .bottom .link_box {display:flex; gap:10px; border-top:1px solid rgba(218, 221, 224, 0.60); border-bottom:1px solid rgba(218, 221, 224, 0.60);}
.community_detail .bottom .link_box button {position:relative; width:100%; padding:11px; border-radius:3px; }
.community_detail .bottom .link_box button:before {content:''; position:absolute; right:0; top:20%; width:1px; height:60%; background-color:rgba(218, 221, 224, 0.60); }
.community_detail .bottom .link_box button:last-of-type:before {display:none; }
.community_detail .bottom .link_box button svg {display:inline-flex; width:26px; height:26px; }
.community_detail .bottom .link_box button.zzim_btn svg {stroke:#46433F; fill:transparent; }
.community_detail .bottom .link_box button.zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }

.community_detail .bottom .comment_box h6 {padding:20px 0; }

.community_detail .bottom .comment_list {border-top:1px solid rgba(218, 221, 224, 0.60);}
.community_detail .bottom .comment_list .comment_item {padding:15px; border-bottom:1px solid rgba(218, 221, 224, 0.60);}
.community_detail .bottom .comment_list .comment_item.recomment_item {padding-left:35px; background-color: #F7F7F7;}
.community_detail .bottom .comment_list .comment_item .name {display:flex; align-items:center; justify-content: space-between; }
.community_detail .bottom .comment_list .comment_item .name p {display:flex; align-items:center; gap:10px; font-size:14px; color:var(--gray_color); }
.community_detail .bottom .comment_list .comment_item .name p b {display:flex; align-items:center; gap:10px; font-size:16px; font-weight:600; color:#46433F; }
.community_detail .bottom .comment_list .comment_item .name p b:after {content:''; display:block; width:5px; height:5px; background-color:var(--gray_color); border-radius:50%; }
.community_detail .bottom .comment_list .comment_item .name .more_btn {position:relative; }
.community_detail .bottom .comment_list .comment_item .name .more_btn button {padding:5px 10px; }
.community_detail .bottom .comment_list .comment_item .name .more_btn:hover > div {display:block;}
.community_detail .bottom .comment_list .comment_item .name .more_btn svg {width:20px; height:20px; }
.community_detail .bottom .comment_list .comment_item .name .more_btn > div {position:absolute; right:0; top:90%; display: none; width:150px; border:1px solid rgba(218, 221, 224, 0.60); border-radius:5px; box-shadow:0 0 5px rgba(187, 184, 181, 0.50); }
.community_detail .bottom .comment_list .comment_item .name .more_btn > div a {display:block; padding:10px; font-size:14px; }
.community_detail .bottom .comment_list .comment_item .comm {padding:5px 0 10px; }
.community_detail .bottom .comment_list .comment_item .recomm {font-size:14px; }
.community_detail .bottom .comment_list .comment_item .recomm .recomm_btn {display:flex; align-items:center; gap:5px; }
.community_detail .bottom .comment_list .comment_item .recomm .recomm_btn svg {width:18px; height:18px; }
.community_detail .bottom .comment_list .comment_item .recomm_form {display:none; margin-top:10px; border-top:1px solid rgba(218, 221, 224, 0.60); padding:10px; }
.community_detail .bottom .comment_list .comment_item .recomm_form.active {display:block; }
.community_detail .bottom .comment_list .comment_item .recomm_form p {display:flex; align-items:center; gap:5px; }
.community_detail .bottom .comment_list .comment_item .recomm_form p svg {width:20px; height:20px; }
.community_detail .bottom .comment_list .comment_item .recomm_form .comment_form {margin-top:10px;}

.community_detail .bottom .comment_form {display:flex; gap:10px; margin-top:20px; }
.community_detail .bottom .comment_form input {flex:5; }
.community_detail .bottom .comment_form button {flex:1; }



/* ------------------------------------
    올톡
------------------------------------ */
.message_con01 .inner {display:flex; height:800px; border:1px solid #dbdbdb; border-radius:5px; }
.message_con01 .list_box {display:flex; flex-direction:column; width:400px;  border-right:1px solid #dbdbdb; }
.message_con01 .list_box .top_search {display:flex; align-items: center; height:73px; border-bottom:1px solid #dbdbdb; padding:16px; }
.message_con01 .list_box .top_search a {padding-right:10px; }
.message_con01 .list_box .top_search a svg {width:32px; height:32px; }
.message_con01 .list_box .top_search .input_form {position:relative; width:100%; }
.message_con01 .list_box .top_search .input_form svg {position:absolute; left:10px; top:calc(50% - 12px); width:24px; height:24px; }
.message_con01 .list_box .top_search .input_form input {width:100%; height:40px; padding-left:40px; background-color:#f2f2f2; border-radius:3px; }
.message_con01 .list_box .top_search .input_form input::placeholder {font-size:14px; }
.message_con01 .list_box .message_list {overflow-y:scroll; flex-grow:1; padding:16px 0; }
.message_con01 .list_box .message_list li {display:flex; align-items:center; gap:14px; padding:14px 24px; border-bottom:1px solid #dbdbdb; cursor:pointer; }
.message_con01 .list_box .message_list li.active {background-color:#FFF5F6; }
.message_con01 .list_box .message_list li .img_box {overflow:hidden; width:56px; height:56px; border-radius:50%; background-color:#f9f9f9; }
.message_con01 .list_box .message_list li .img_box img {width:100%;height:100%;object-fit: cover;}
.message_con01 .list_box .message_list li .txt_box {width:calc(100% - 70px); }
.message_con01 .list_box .message_list li .txt_box h3 {display:flex; align-items:center; justify-content:space-between; font-weight:600; }
.message_con01 .list_box .message_list li .txt_box h3 span {color:var(--gray_color); font-size:14px; font-weight:400; }
.message_con01 .list_box .message_list li .txt_box h3 span.num {width:18px; height:18px; margin-right:auto; margin-left:10px; border-radius:50%; text-align:center; background-color:var(--main_color); color:#fff; }
.message_con01 .list_box .message_list li .txt_box .desc {overflow:hidden; font-size:15px; text-overflow:ellipsis; white-space:nowrap; }

.message_con01 .chatting_box {position:relative; display:flex; flex-direction:column; justify-content: space-between; width:calc(100% - 400px); }
.message_con01 .chatting_box .top_info {position:relative; display:flex; align-items:center; justify-content:space-between; height:73px; border-bottom:1px solid #dbdbdb; padding:16px; }
.message_con01 .chatting_box .top_info .title {display:flex; align-items: center; gap:5px;}
.message_con01 .chatting_box .top_info .title .img_box {overflow:hidden;display:flex; align-items:center; justify-content:center; width:32px; height:32px; }
.message_con01 .chatting_box .top_info .title h5 {font-size:18px; font-weight:600; }
.message_con01 .chatting_box .top_info .title span {border:1px solid var(--main_color); padding:1px 5px; color:var(--main_color); font-size:12px; border-radius:3px; font-weight:500; }
.message_con01 .chatting_box .top_info .title button {color:#46433f; opacity:0.8; }
.message_con01 .chatting_box .top_info .title .company_info_btn.active {transform:rotate(180deg); }

.message_con01 .chatting_box .top_info .right_link {display:flex; align-items:center; gap:5px; }
.message_con01 .chatting_box .top_info .right_link button svg {width:20px; height:20px; }
.message_con01 .chatting_box .top_info .right_link .more_btn {position:relative; }
.message_con01 .chatting_box .top_info .right_link .more_btn button {padding:5px 10px; }
.message_con01 .chatting_box .top_info .right_link .more_btn:hover > div {display:block;}
.message_con01 .chatting_box .top_info .right_link .more_btn svg {width:20px; height:20px; }
.message_con01 .chatting_box .top_info .right_link .more_btn > div {position:absolute; right:0; top:90%; display: none; width:150px; border:1px solid rgba(218, 221, 224, 0.60); border-radius:5px; box-shadow:0 0 5px rgba(187, 184, 181, 0.50); background-color: #fff; }
.message_con01 .chatting_box .top_info .right_link .more_btn > div a {display:block; padding:10px; font-size:14px; }

.message_con01 .chatting_box .top_info .top_search {z-index:10; position:absolute; left:0; top:0; display:none; align-items: center; width:100%; height:73px; border-bottom:1px solid #dbdbdb; padding:16px; background-color: #fff; ;}
.message_con01 .chatting_box .top_info .top_search.active {display:flex; }
.message_con01 .chatting_box .top_info .top_search a {padding-right:10px; }
.message_con01 .chatting_box .top_info .top_search a svg {width:32px; height:32px; }
.message_con01 .chatting_box .top_info .top_search .input_form {position:relative; width:100%; }
.message_con01 .chatting_box .top_info .top_search .input_form svg {position:absolute; left:10px; top:calc(50% - 12px); width:24px; height:24px; }
.message_con01 .chatting_box .top_info .top_search .input_form input {width:100%; height:40px; padding-left:40px; background-color:#f2f2f2; border-radius:3px; }
.message_con01 .chatting_box .top_info .top_search .input_form input::placeholder {font-size:14px; }

.message_con01 .chatting_box .top_info .company_info {position:absolute; left:0; top:calc(100% + 1px); display:none; width:100%; padding:14px 50px; background-color:#fff; font-size:14px; }
.message_con01 .chatting_box .top_info .company_info.active {display:block; }
.message_con01 .chatting_box .top_info .company_info .add {margin-bottom:5px; color:var(--gray_color); }
.message_con01 .chatting_box .top_info .company_info p {font-weight:500; }
.message_con01 .chatting_box .top_info .company_info a {display:flex; color:var(--gray_color); }
.message_con01 .chatting_box .top_info .company_info a img {transform:rotate(-90deg); opacity:0.5; }


.message_con01 .chatting_box .chatting_list {flex-grow:1; padding:0 20px; background-color:#f9f9f9; height:100%;overflow-y:scroll}
.message_con01 .chatting_box .chatting_list .date {display:flex; align-items:center; justify-content:center; padding:15px 0; }
.message_con01 .chatting_box .chatting_list .date span {padding:2px 10px; color:#FFF; font-size:13px; font-weight:600; background-color:#bdbdbd; border-radius:30px; }
.message_con01 .chatting_box .chatting_list .chatting {display:flex; align-items: flex-end; gap:5px;}
.message_con01 .chatting_box .chatting_list .chatting + .chatting {margin-top:10px; }
.message_con01 .chatting_box .chatting_list .chatting .chat_box {max-width:90%; padding:10px 16px; border:1px solid #e0e0e0; color:#1b1b1b; background:#fff; border-radius:7px; }
.message_con01 .chatting_box .chatting_list .chatting .timestamp {color:var(--gray_color); font-size:12px; font-weight:500; }
.message_con01 .chatting_box .chatting_list .chatting.right {flex-direction:row-reverse; justify-content:end; }
.message_con01 .chatting_box .chatting_list .chatting.right .chat_box {border-top-right-radius:0; }
.message_con01 .chatting_box .chatting_list .chatting.left {border-top-left-radius:0; }

.message_con01 .chatting_box .message_form {display:flex; align-items:center; gap:10px; height:73px; border-top:1px solid #dbdbdb; padding:12px 18px; }
.message_con01 .chatting_box .message_form .file_box {position:relative; cursor:pointer; padding:5px; }
.message_con01 .chatting_box .message_form .file_box input[type="file"] {z-index:1; position:absolute; left:0; top:0; width:100%; height:100%; display:none; }
.message_con01 .chatting_box .message_form .file_box label {cursor:pointer; }
.message_con01 .chatting_box .message_form input[type="text"] {flex-grow:1; }
.message_con01 .chatting_box .message_form button {width:100px; }

.message_con01 .chatting_box .message_box {z-index:10; position:absolute; left:0; top:0; display:flex; flex-direction: column; align-items:center; justify-content:center; width:100%; height:100%; background-color:#f9f9f9; }
.message_con01 .chatting_box .message_box i {display:block; padding:17px; margin-bottom:20px; border-radius:50%; background-color: #c8c8c8; }
.message_con01 .chatting_box .message_box i svg {width:40px; height:40px; }



/* 최근검색어 A링크  */
.search_list li a {flex-grow:1; }
.search_list_recent li a {flex-grow:1; }

/* 로딩 */
#loadingContainer {z-index:9999; position:fixed; left:0; top:0; display:flex; align-items:center; justify-content:center; width:100%; height:100%; background:rgba(0,0,0, 0.40);}


.fr-box.fr-basic .fr-element{padding:0!important;}