/* ------------------------------------
    기본셋팅
------------------------------------ */
:root{
    --main_color:#FB4760; 
    --danger_color:#dc3545;
    --gray_color:#8e8e8e; 
}
html {background-color: #f9f9f9; ;}
body {width:640px; max-width:100%; margin:0 auto !important; color:#46433F; font-size:14px; font-family: "Pretendard", "Inter", ui-sans-serif, system-ui, sans-serif; background-color:#fff; }

.inner {width:100%; padding:0 18px; }
.login_inner {padding:0 18px; }
.join_inner {padding:0 18px;}

.txt-primary {color:var(--main_color); }
.txt-danger {color:var(--danger_color); }
.txt-gray {color:var(--gray_color); }

.fs16 {font-size:16px; }
.fs14 {font-size:14px; }
.fs12 {font-size:12px; }
.fs10 {font-size:10px; }

/* ------------------------------------
    폼
------------------------------------ */
input:focus,
select:focus,
textarea:focus {outline:0 none; }
.input-form {height:40px; padding:0 10px; border:1px solid #DBDBDB; border-radius:5px; font-size:14px; color:#1b1b1b; }
.input-form.noline {border:0 none; }
.input-form.txt-danger {color:var(--danger_color); }
.input-form.txt-primary {color:var(--main_color); }
.input-form::placeholder {color:#dbdbdb; }
.input-error {border:1px solid var(--main_color) !important; }
.textarea-form {resize:none; width:100%; height:200px; padding:15px; border:1px solid #DBDBDB; border-radius:5px; font-size:14px; color:#1b1b1b; }
.error_txt,
.error {font-size:12px; color:var(--main_color); }

.file-form {overflow:hidden; position:relative; display:flex; align-items:center; justify-content:center; border:1px dashed #bdbdbd; border-radius:5px; cursor:pointer; text-align:center; font-size:14px; font-weight:500; color:#bdbdbd; }
.file-form input {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; }
.file-form.vertical {width:180px; height:240px; }
.file-form.horizontal {width:230px; height:130px; }
.file-form.full {overflow:hidden; width:100%; height:280px; border:0 none; background: #F5F5F5; }
.file-form .text {display:flex; flex-direction:column; align-items:center; justify-content:center; width:100%; height:100%; }
.file-form .text img {width:28px; height:auto; }
.file-form.img_auto img {width:auto; height:auto; max-height:90%;}
.file-form img {width:100%; height:100%; }
.file-form .error {position:absolute; left:0; top:0; display:flex; align-items:center; justify-content:center; width:100%; height:100%; padding:10px; word-break:keep-all; background-color:#fff; }

.radio-form {display:none; }
.radio-form + label {position:relative; display:flex; align-items:center; gap:5px; cursor:pointer; }
.radio-form + label:before {content:''; width:18px; height:18px; border:1px solid #dbdbdb; border-radius:50%; }
.radio-form:checked + label:before {border:1px solid var(--main_color); }
.radio-form:checked + label:after {content:''; position:absolute; left:4px; top:6px; width:10px; height:10px; background-color:var(--main_color); border-radius:50%; }
.radio-form.type02:checked + label:after {top:4px; }

.check-form {display:none; }
.check-form + label {position:relative; display:flex; align-items:center; gap:6px; cursor:pointer; }
.check-form + label:before {content:''; width:18px; height:18px; border:1px solid #E0E0E0; border-radius:3px; }
.check-form + label:after {content:''; position:absolute; left:6px; top:4px; width:6px; height:10px; border-bottom:2px solid #e0e0e0; border-right:2px solid #e0e0e0; transform:rotate(45deg)}
.check-form:checked + label:before {border:1px solid var(--main_color); background-color:var(--main_color); }
.check-form:checked + label:after {border-color:#fff; }

.check-form2 {position:relative; width:0; height:0; }
.check-form2:after {content:''; position:absolute; left:6px; top:calc(50% - 5px); width:6px; height:10px; border-bottom:2px solid transparent; border-right:2px solid transparent; transform:rotate(45deg)}
.check-form2 + label {font-weight:300; }
.check-form2:checked:after {border-bottom:2px solid var(--main_color); border-right:2px solid var(--main_color);  }
.check-form2:checked + label {font-weight:500; }


.form_box h4 {margin-bottom:10px; font-size:17px; font-weight:600; }
.form_box dt {width:100%; padding:5px 0; font-weight:500; Font-size:15px; }
.form_box dt.necessary:after {content:''; display:inline-block; vertical-align:text-top; width:6px; height:6px; margin-left:4px; background-color: var(--main_color); border-radius:50%; }
.form_box dd {width:100%; }
.form_box dd button {width:100px; height:40px; flex-shrink:0; border-radius:5px; }
.form_box .info_box {padding:8px; background-color:#f7f7f7; border-radius:5px; font-size:12px; color:#828282; font-weight:500; }
.form_box .error_txt {margin-top:4px;}

.agree_wrap h3 {margin-bottom:10px; font-size:17px; font-weight:600; color:#212529; }
.agree_wrap .agree_box .agree_item {display:flex; justify-content:space-between; align-items: center; padding:15px 0; color:var(--gray_color); }
.agree_wrap .agree_box .agree_item.all {border-bottom:1px solid #e0e0e0; color:#46433f; }
.agree_wrap .agree_box .agree_item button {font-size:13px; color:#828282; font-weight:400; text-decoration:underline; }


.dropdown_wrap {position:relative; }
.dropdown_wrap .dropdown_btn {position:relative; width:100%; height:40px; padding:0 15px; border:1px solid #DBDBDB; border-radius:5px; font-size:14px; color:#1b1b1b; text-align:left; }
.dropdown_wrap .dropdown_btn:before {content:''; position:absolute; right:20px; top:calc(50% - 4px); width:8px; height:8px; border-top:2px solid #bdbdbd; border-right:2px solid #bdbdbd;  transform:rotate(135deg); }
.dropdown_wrap .dropdown_btn:hover:before {border-color:var(--main_color); }
.dropdown_wrap .dropdown_btn:hover,
.dropdown_wrap .dropdown_btn.active {border:1px solid var(--main_color); }
.dropdown_wrap .dropdown_list {display:none; z-index:10; position:absolute; left:0; top:calc(100% + 5px); width:100%; max-height:240px; overflow-y:auto; border:1px solid var(--main_color); background-color:#fff; border-radius:5px;}
.dropdown_wrap.active .dropdown_list {display:block; }
.dropdown_wrap .dropdown_item {padding:12px 16px; cursor:pointer; }
.dropdown_wrap .dropdown_item:hover {background-color:#fff5f6;}

/* ------------------------------------
    버튼
------------------------------------ */

a.btn {display:flex; justify-content: center; align-items: center; }
.btn { height:40px; border-radius:3px; font-weight:600; transition:background 0.5s; }
.btn.thin {font-weight:400; }
.btn:disabled {opacity:.6; }
.btn-round {border-radius:25px; }

.btn-primary-line {border:1px solid var(--main_color); color:var(--main_color); }
.btn-primary {background-color: var(--main_color) !important; color:#fff; }
.btn-black-line {border:1px solid #4f4f4f; color:#4f4f4f; }
.btn-line {border: 1px solid #BBB8B5; color:var(--gray_color); }
.btn-line2 {border: 1px solid #BBB8B5; color:#4f4f4f; }
.btn-line3 {border: 1px solid #4f4f4f; color:#4f4f4f; }
.btn-line4 {border: 1px solid #dadde0; color:#46433f; }
.btn-line2:not(.nohover):hover,
.btn-line3:not(.nohover):hover,
.btn-line4:not(.nohover):hover{background-color:#d9d9d9 !important; }
.btn-kakao {background-color: #FAE100; }

.btn-form {border:1px solid #BDBDBD; color:#BDBDBD; }
.btn-gray {border:0.5px solid #dadde0; background-color:#f5f5f5 !important; }

/* ------------------------------------
    모달
------------------------------------ */

.modal {z-index:-9999; position:fixed; left:50%; top:0; opacity:0; visibility: hidden; display:flex; align-items:center; justify-content:center; width:100%; height: 100%; transform:translateX(-50%); transition:opacity 0.2s;  }
.modal .modal_bg {position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); cursor:pointer; }
.modal.show {z-index:9999; visibility:visible; opacity:1; transition:opacity 0.4s;  }
.modal .modal_inner {position:relative; width:400px; max-width:90%; background-color: #fff; border-radius: 3px; transform:scale(0.5); transition:all 0.3s; }
.modal .modal_inner .close_btn {position:absolute; right:0; bottom:calc(100% + 3px); width:30px; height:30px; }
.modal .modal_inner .close_btn svg {width:30px; height:30px; }
.modal .modal_body {overflow-y:auto; max-height:85vh; }
.modal .modal_body.h_fix {height:85vh;}
.modal .modal_body.h_fix2 {height:50vh;}
.modal .modal_body.fix_full {max-height:100%; height:100%;}
.modal .modal_body .modal_tit {font-size:18px; font-weight:500; }
.modal.show .modal_inner {transform:scale(1); }

.modal .modal_inner.x-full {max-width:100%; }
.modal .modal_inner.inner_full {overflow-y:auto; width:100%; max-width:100%; height:100%; border-radius:0; }
.modal .modal_inner.inner_full .close_btn {bottom:auto; top:10px; right:10px; }
.modal .modal_inner.inner_full .close_btn svg {width:30px; height:30px; }

.modal .modal_title {position:relative; height:60px; display:flex; align-items:center; justify-content:center; }
.modal .modal_title h3 {font-size:16px; font-weight:600; }
.modal .modal_title .x_btn {position:absolute; left:18px; top:calc(50% - 12px); }
.modal .modal_title .x_btn svg {width:24px; height:24px; }


/* ------------------------------------
    타이틀 공통 
------------------------------------ */
.main_tit h3 {font-size:18px; font-weight:600; line-height:1.2;}
.main_tit h3 span {font-weight:400; }
.main_tit .zoom_btn {border:1px solid #ebebeb; padding:4px 10px; border-radius:40px; }
.main_tit .zoom_btn svg {width:12px; height:12px; }
.main_tit .more_btn {font-weight:500; }
.main_tit .more_btn svg {width:18px; height:18px; }

.count_pager {width:auto; border:1px solid #dadde0; padding:3px 8px; border-radius:30px; font-weight:500; color:var(--gray_color); font-size:12px; }
.count_pager .swiper-pagination-current {color:#46433f; font-weight:500; }
.count_pager.dark_type {border:0 none; background: #46433F99; color:#fff; }


/* ------------------------------------
    상품 공통 
------------------------------------ */
/* 상품목록 */
.prod_list {display:grid; grid-template-columns: repeat(2,1fr); gap:20px 8px; }
.prod_list.grid1 {grid-template-columns: repeat(1,1fr);}
.prod_list.grid2 {grid-template-columns: repeat(2,1fr);}
.prod_list.grid5 {grid-template-columns: repeat(5,1fr);}


.prod_list .no_prod {grid-column:span 2; display:flex; flex-direction: column; justify-content:center; align-items:center; gap:10px; padding:100px 0; }
.prod_list.grid1 .no_prod {grid-column:span 1;}
.prod_list.grid2 .no_prod {grid-column:span 2;}
.prod_list.grid5 .no_prod {grid-column:span 5;}
.prod_list .no_prod i {display:flex; align-items:center; justify-content:center; width:48px; height:48px; border-radius:50%; background-color:#4b4b4b; }
.prod_list .no_prod i svg {width:20px; height:20px; }
.prod_list .no_prod a {padding:2px 10px; border:1px solid #BBB8B5; margin-top:15px; border-radius:10px; color:#46433f; font-size:14px; font-weight:500; }


/* 상품슬라이드 */
.prod_slide-2 {height:480px;}
.prod_slide-2 .swiper-wrapper {justify-content: space-between; }
.prod_slide-2 .swiper-slide {width:138px; height:calc(50% - 10px) !important; }
.prod_slide .swiper-slide {width:138px; }

.slide_arrow {position:absolute; top:calc(50% - 25px); width:50px; height:50px; border:1px solid #dadde0; border-radius:50%; }
.slide_arrow.swiper-button-disabled {display:none;}
.slide_arrow svg {width:33px; height:33px; margin:0 auto; }
.slide_arrow.next {right:-70px; }
.slide_arrow.prev {left:-70px; }
.slide_arrow.prev svg {transform:rotate(180deg); }

.slide_arrow.type02 {top:calc(50% - 40px); width:80px; height:80px; border:0 none; border-radius:0; }
.slide_arrow.type02 svg {width:80px; height:80px; stroke-width:3px; }
.slide_arrow.type02.next {right:30px; }
.slide_arrow.type02.prev {left:30px; }
.slide_arrow.type02.next svg {transform:rotate(180deg); }
.slide_arrow.type02.prev svg {transform:rotate(0); }

.slide_arrow.type03 {top:calc(50% - 30px); width:60px; height:60px; border:0 none; border-radius:0; }
.slide_arrow.type03 svg {width:60px; height:60px; stroke-width:1.5px; }
.slide_arrow.type03.next {right:-75px; }
.slide_arrow.type03.prev {left:-75px; }
.slide_arrow.type03.next svg {transform:rotate(180deg); }
.slide_arrow.type03.prev svg {transform:rotate(0); }

/* 상품아이템 */
.prod_item .img_box {overflow:hidden; position:relative; width:100%; padding-bottom:100%; border-radius:4px; background-color:#f5f5f5; }
.prod_item .img_box img {position:absolute; left:50%; top:50%; max-width:fit-content; height:100%; border-radius:4px; transform:translate(-50%,-50%); }
.prod_item .img_box .zzim_btn {position:absolute; right:8px; bottom:8px; }
.prod_item .txt_box {padding-top:6px ; line-height:1;}
.prod_item .txt_box span {color:var(--gray_color); font-size:12px; }
.prod_item .txt_box p {margin:3px 0 4px; font-size:14px; font-weight:400; word-break:keep-all; line-height:1.4; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.prod_item .txt_box b {font-size:16px; font-weight:700;}

.img_box .zzim_btn svg {width:24px; height:24px; stroke:#fff; fill:transparent; }
.img_box .zzim_btn.active svg {stroke:var(--main_color); fill:var(--main_color); }

/* 메인 - 할인상품 */
.prod_item.type02 .img_box span {position:absolute; left:15px; bottom:15px; color:#fff; font-size:14px; font-weight:300; }
.prod_item.type02 .img_box span b {font-size:20px; font-weight:600; }
.prod_item.type02 .txt_box strong {overflow:hidden; display:block; padding:5px 0 7px; font-size:16px; line-height:1.4; font-weight:400; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.prod_item.type02 .txt_box span {font-size:13px; }

/* 신상품리스트 */
.prod_item.type03 {border:1px solid #DADDE0; border-radius:4px; }
.prod_item.type03 .img_box img {border-radius:0;}
.prod_item.type03 .txt_box {border-top:1px solid #DADDE0; padding:10px 12px; }
.prod_item.type03 .txt_box strong {display:block; margin-bottom:20px; line-height:1.2; font-size:16px; font-weight:500; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}


/* ------------------------------------
    탭 공통
------------------------------------ */
.tab_layout ul {display:flex; align-items:center; gap:10px; }
.tab_layout ul li {border:0.5px solid rgba(218, 221, 224, 0.60); background-color:#F5F5F5; border-radius:3px; }
.tab_layout ul li a {display:flex; align-items:center; justify-content:center; height:35px; padding:0 10px; font-weight:500; }
.tab_layout ul li.active {background-color:var(--main_color);}
.tab_layout ul li.active a {color:#fff; }

.tab_layout.type02 ul li {width:100%; }
.tab_layout.type02 ul li a {font-weight:400; }

.tab_layout.type03 ul {overflow:hidden; gap:0; border:1px solid var(--main_color); border-radius:5px; }
.tab_layout.type03 ul li {width:100%; border:0 none; background-color: #fff; border-radius:0;}
.tab_layout.type03 ul li a {color:var(--main_color); }
.tab_layout.type03 ul li.active {background-color:var(--main_color);}
.tab_layout.type03 ul li.active a {color:#fff; }

.tab_layout.type04 ul {gap:0; }
.tab_layout.type04 ul li {width:auto; }

.tab_content > div {display:none; }
.tab_content > div.active {display:block; }



/* ------------------------------------
    필터 
------------------------------------ */
.sub_filter {margin-bottom:15px; }
.sub_filter .filter_box {display:flex; flex-wrap:wrap; align-items:center; gap:8px;  }
.sub_filter .filter_box button {display:flex; align-items:center; gap:4px; height:32px; border:1px solid var(--gray_color); padding:5px 10px; border-radius:3px; font-size:13px; }
.sub_filter .filter_box button.on {border:1px solid var(--main_color); background-color:#ffeff1; }
.sub_filter .filter_box button:after {content:''; display:inline-flex; width:20px; height:20px; background:url('/img/icon/filter_arrow.svg') no-repeat center center; }
.sub_filter .filter_box button.refresh_btn {display:flex; align-items:center; gap:5px; flex-shrink:0; }
.sub_filter .filter_box button.refresh_btn:after {display:none; }
.sub_filter .filter_box button.refresh_btn svg {width:14px; height:14px; stroke:#4f4f4f; stroke-width:2px; }

.sub_filter .total {margin-top:10px; font-weight:500; font-size:13px; color:var(--gray_color); text-align:right; }

/* 필터 */
.filter_body {padding:22px; }
.filter_body h4 {font-size:20px; font-weight:500; }
.filter_body .filter_list {overflow-y:auto; max-height:420px; margin:20px 0; }
.filter_body .filter_list li {border-bottom:1px solid #f2f2f2; padding:10px 0; color:#828282; font-weight:500; }
.filter_body .filter_list li:last-of-type {border-bottom:0 none; }
.filter_body .filter_list li label {gap:10px; }
.filter_body .filter_list li input:checked + label {font-weight:600; color:#1b1b1b; }
.filter_body .btn_bot {display:flex; align-items:center; gap:5px; }
.filter_body .btn_bot button {width:65%; }
.filter_body .btn_bot button.full {width:100%; }
.filter_body .btn_bot .refresh_btn {display:flex; align-items: center; justify-content:center; flex-shrink:0; width:35%; gap:10px; }
.filter_body .btn_bot .refresh_btn svg {width:14px; height:14px; stroke:#4f4f4f; stroke-width:2px; }

.sub_filter_result {display:flex; align-items:center; justify-content:space-between; padding:10px 15px; border-top:1px solid #dadde0; border-bottom:1px solid #dadde0; margin-left:-18px; margin-right:-18px; margin-bottom:24px; border-radius:3px;}
.sub_filter_result .filter_on_box {display:flex; flex-direction:column; gap:5px; }
.sub_filter_result .filter_on_box > div {display:flex; flex-wrap:wrap; gap:4px; }
.sub_filter_result .filter_on_box span {display:flex; padding:3px 10px; background-color:#F2F2F2; border-radius:30px; }
.sub_filter_result .filter_on_box span button svg {width:16px; height:16px; opacity:0.5; }
.sub_filter_result button.refresh_btn {display:flex; align-items:center; gap:5px; flex-shrink:0; }
.sub_filter_result button.refresh_btn svg {width:14px; height:14px; stroke:#4f4f4f; stroke-width:2px; }

.prod_cate_body {padding:22px 17px; }
.prod_cate_body h4 {font-size:20px; font-weight:500; }
.prod_cate_body .prod_category {overflow-y:auto; max-height:420px; margin:20px 0; }
.prod_cate_body .prod_category > li > button {display:flex; align-items:center; justify-content:space-between; width:100%; padding:10px 0; border-bottom:1px solid #eeeeee; }
.prod_cate_body .prod_category .prod_category_list {display:none; padding:10px 20px; background-color:#f4f4f4; }
.prod_cate_body .prod_category .prod_category_list > li {display:flex; align-items:center; flex-direction: row-reverse; justify-content:left; gap:5px; }
.prod_cate_body .prod_category .prod_category_list > li label {padding:5px 0; }
.prod_cate_body .prod_category > li.on button svg {transform:rotate(180deg)}
.prod_cate_body .prod_category > li.on .prod_category_list {display:block;}

/* ------------------------------------
    상품리스트 - 카테고리 표시 / 옵션 표시
------------------------------------ */
.sub_category {overflow-x:auto; border-bottom:1px solid #F2F2F2; padding-bottom:10px; margin-bottom:15px; }
.sub_category ul {display:flex; gap:20px; align-items:center; white-space:nowrap; }
.sub_category ul li {border-bottom:2px solid transparent; }
.sub_category ul li.active {border-bottom:2px solid var(--main_color); }
.sub_category ul li.active a {font-weight:bold; color:var(--main_color); }

.sub_option {position:relative; margin-bottom:20px;}
.sub_option .dropdown_btn {position:relative; width:100%; height:48px; padding:0 15px; border:1px solid #DBDBDB; border-radius:5px; font-size:16px; color:#1b1b1b; text-align:left; }
.sub_option .dropdown_btn:before {content:''; position:absolute; right:20px; top:calc(50% - 4px); width:8px; height:8px; border-top:2px solid #bdbdbd; border-right:2px solid #bdbdbd;  transform:rotate(135deg); }
.sub_option .dropdown_btn:hover:before {border-color:var(--main_color); }
.sub_option .dropdown_btn:hover,
.sub_option .dropdown_btn.active {border:1px solid var(--main_color); }
.sub_option.active .option_wrap {display:block; }
.sub_option .option_wrap {display:none; z-index:10; position:absolute; left:0; top:calc(100% + 5px); width:100%; background-color:#fff; border-radius:5px;}
.sub_option .option_wrap .option_box {max-height:280px; overflow-y:auto; border:1px solid var(--main_color); border-radius:5px;}
.sub_option .option_wrap .sub_filter_result {display:none; border:1px solid var(--main_color); border-top:0 none; margin-bottom:0; border-radius:0 0 5px 5px; }
.sub_option .option_wrap .sub_filter_result.active {display:flex; }
.sub_option .option_box table {width:100%; }
.sub_option .option_box table tr {border-bottom:1px solid #e0e0e0; }
.sub_option .option_box table th {padding:11px 16px; border-right:1px solid #e0e0e0; background-color:#FFF5F6; text-align:left; font-weight:400; }
.sub_option .option_box table td {padding:11px 16px; }
.sub_option .option_box .option_list {display:flex; flex-wrap:wrap; gap:12px; align-items:center; }
.sub_option .option_box .option_list button {padding:2px 10px; border-radius:5px; font-size:14px; }
.sub_option .option_box .option_list button.active {background-color: #FFF5F6; color:var(--main_color); }

.category_tab > div {display:none; }
.category_tab > div.active {display:block; }
.category_tab .filter_list {overflow-y:auto; max-height:50vh; }

/* ------------------------------------
    헤더
------------------------------------ */
header {z-index:100; position:sticky; top:-100px; transition:top 0.4s; }
header .header_top {height:60px; padding:12px 0; background-color: #fff;}
header .header_top .inner {display:flex; height:100%; gap:10px; align-items:center; justify-content: space-between; }
header .header_top .logo {max-width:30%; font-size:18px; font-weight:600; }
header .header_top .logo a {gap:10px; }
header .header_top .search_btn {display:flex; flex-grow:1; align-items:center; gap:10px; width:auto; height:36px; padding:0 10px; font-size:14px; color:#bbb8b5; border-radius:40px; background-color:#f5f5f5; border-radius:40px; }
header .header_top .search_btn svg {width:24px; height:24px; }
header .header_top .right_link {gap:20px; }
header .header_top .right_link .alarm_btn {position:relative; display:block; }
header .header_top .right_link .alarm_btn span {position:absolute; right:-4px; top:-6px; padding:1px 3px; color:#fff; font-size:11px; background-color:var(--main_color); border-radius:30px; }
header .header_top .right_link .alarm_btn svg {width:24px; height:24px; }

header .header_top.sub_header .title {padding-left:40px; font-size:18px; font-weight:600;}

header .header_banner {padding:8px 0; background-color: var(--main_color); font-size:14px; color:#fff; font-weight:400; }
header .header_banner a {gap:10px; }
header .header_banner svg {width:24px; height:24px; }

header.top_fixed {position:sticky; top:0; }
.header_category.scroll_up {top:100px; }


.header_category {z-index:100; position:sticky; top:0; overflow-x:auto; padding:20px 18px 12px; border-bottom:1px solid rgba(218, 221, 224, 0.60); background-color:#fff; transition:top 0.4s; }
.header_category::-webkit-scrollbar {display:none; }
.header_category ul.gnb { gap:12px; text-align:center; }
.header_category ul.gnb li a {position:relative; font-size:14px; font-weight:600; white-space:nowrap; }
.header_category ul.gnb li a span {position:absolute; left:50%; bottom:100%; width:100px; font-size:10px; font-weight:400; color:var(--main_color); transform:translateX(-50%); }
.header_category ul.gnb li.active a {color:var(--main_color); }
.header_category ul.gnb li button {gap:10px; height:36px; padding:0 16px; border:1px solid #dadde0; font-size:18px; font-weight:500; background-color:#f5f5f5; border-radius:3px; }
.header_category ul.gnb li button svg {width:22px; height:22px; }

.header_category .category_list {overflow-y:auto; position:absolute; left:0; top:calc(100% + 26px); display:none; width:500px; border:1px solid rgba(218, 221, 224, 0.60); background-color: #fff; ;}
.header_category .category_list > ul {width:50%; }
.header_category .category_list > ul > li > a {display:flex; align-items:center; gap:10px; padding:10px 16px; }
.header_category .category_list > ul > li:hover {background-color:#FFF5F6;}
.header_category .category_list > ul > li:hover > a {color:var(--main_color); }
.header_category .category_list > ul > li > a i svg,
.header_category .category_list > ul > li > a i img {width:24px; height:24px; stroke:#767676; filter:grayscale(100%); }
.header_category .category_list > ul > li:hover > a i img {filter:grayscale(0); }
.header_category .category_list > ul > li:hover .depth2 {display:block; }
.header_category .category_list .depth2 {position:absolute; left:50%; top:0; overflow-y:auto; display:none; width:50%; height:100%; border-left:1px solid rgba(218, 221, 224, 0.60); background-color:#fff;}
.header_category .category_list .depth2 li a {display:block; padding:10px 16px; }
.header_category .category_list .depth2 li:hover {background-color:#FFF5F6;}
.header_category .category_list .depth2 li:hover a {color:var(--main_color); }

/* 퀵메뉴 */
.quick_menu {z-index:100; position:fixed; left:0; bottom:0; width:100%; height:56px; padding:0 18px; border-top: 1px solid rgba(218, 221, 224, 0.60); background: #FFF;}
.quick_menu ul.menu {display:grid; grid-template-columns:repeat(5,1fr); height:100%; }
.quick_menu ul.menu li {display:flex; align-items:center; justify-content:center; height:100%; text-align:center; }
.quick_menu ul.menu li span {font-size:10px; }
.quick_menu ul.menu li svg {width:23px; height:23px; margin:0 auto; stroke:#46433F; }
.quick_menu ul.menu li.active svg {stroke:var(--main_color); }
.quick_menu ul.menu li.active span {color:var(--main_color); }
.quick_menu .category_list {overflow-y:auto; position:fixed; left:0; top:54px; display:none; width:100%; height:calc(100% - 110px); background-color:#fff; }
.quick_menu .category_list.show {display:block; }
.quick_menu .category_list > ul > li {position:relative; border-bottom:1px solid rgba(218, 221, 224, 0.60); }
.quick_menu .category_list > ul > li > a {position:relative; display:flex; align-items:center; gap:10px; padding:10px 16px; }
.quick_menu .category_list > ul > li > a:before {content:''; position:absolute; right:20px; top:calc(50% - 7px); width:10px; height:10px; border-left:1px solid #46433F; border-bottom:1px solid #46433F; transform:rotate(-45deg); }
.quick_menu .category_list > ul > li.active > a:before {transform:rotate(135deg); }
.quick_menu .category_list > ul > li > a i svg,
.quick_menu .category_list > ul > li > a i img {width:24px; height:24px; stroke:#767676;}
.quick_menu .category_list .depth2 {display:none; width:calc(100% - 30px); margin:0 auto; padding:10px; background-color:#F5F5F5; }
.quick_menu .category_list .depth2 li a{display:block; padding:7px 15px; }

.category_con01 {padding-bottom:80px; }
.category_con01 .category_list { width:100%;  background-color:#fff; }
.category_con01 .category_list > ul > li {position:relative; border-bottom:1px solid rgba(218, 221, 224, 0.60); }
.category_con01 .category_list > ul > li > a {position:relative; display:flex; align-items:center; gap:10px; padding:10px 16px; }
.category_con01 .category_list > ul > li > a:before {content:''; position:absolute; right:20px; top:calc(50% - 7px); width:10px; height:10px; border-left:1px solid #46433F; border-bottom:1px solid #46433F; transform:rotate(-45deg); }
.category_con01 .category_list > ul > li.active > a:before {transform:rotate(135deg); }
.category_con01 .category_list > ul > li > a i svg,
.category_con01 .category_list > ul > li > a i img {width:24px; height:24px; stroke:#767676;}
.category_con01 .category_list .depth2 {display:none; width:calc(100% - 30px); margin:0 auto; padding:10px; background-color:#F5F5F5; }
.category_con01 .category_list .depth2 li a{display:block; padding:7px 15px; }

/* ------------------------------------
    푸터
------------------------------------ */
footer {padding:0 0 60px; background-color: #F5F5F5; color:var(--gray_color); }
footer .fnb {flex-wrap:wrap; padding:30px 0; gap:10px 26px; font-size:12px; }
footer .fnb li:first-of-type {width:100%; color:#46433F; }
footer .fnb li:hover {color:#46433F; }
footer .fnb li a {font-weight:500; }
footer .info {border-top:1px solid rgba(218, 221, 224, 0.60); border-bottom:1px solid rgba(218, 221, 224, 0.60); padding:30px 0 20px; font-size:14px; }
footer .info img {margin-bottom:20px; max-width:30%; }
footer .bottom_link {padding:20px 0; font-size:12px; }
footer .bottom_link a {position:relative; padding:0 15px; }
footer .bottom_link a::before {content:'|'; position:absolute; right:0; top:-1.5px; }
footer .bottom_link li:first-of-type a {padding-left:0; }
footer .bottom_link li:last-of-type a::before {display:none; }





/* ------------------------------------
    로그인 / 회원가입
------------------------------------ */
/* 로그인 */
.login_common {padding:30px 0; min-height:calc(var(--vh, 1vh) * 100); }
.login_common .title {margin-bottom:40px; text-align:center; }
.login_common h3 {font-size:24px; font-weight:600; text-align:center; }
.login_common img {height:30px; margin:0 auto 40px; }
.login_common .login_input {margin:6px 0 16px; }
.login_common .info_box {padding: 12px 16px; margin-bottom: 24px; background-color: #F7F7F7; border-radius: 5px;}
.login_common .info_box li {position:relative; padding-left:8px; color:#828282; font-size:12px; font-weight:500; }
.login_common .info_box li:before {content:'·'; position:absolute; left:0; top:0; }
.login_common .link_box {padding:20px 0; font-size:13px; }
.login_common .link_box a {position:relative; width:100%; padding:0 10px; color:#828282; text-align:center; word-break:keep-all; }
.login_common .link_box a:before {content:''; position:absolute; right:0; top:calc(50% - 8px); width:1px; height:16px; background-color:#e0e0e0; }
.login_common .link_box a:last-of-type:before {display:none; }
.login_common .flex:not(.btn_box) .btn {flex-shrink:0; width:110px; height:40px; }
.login_common .certify_box {position:relative; width:100%;  }
.login_common .certify_box .time {position:absolute; right:10px; top:10px; color:var(--main_color); }
.login_common .joined_id {overflow-y:auto; max-height:160px; padding:10px 0; margin-bottom:16px; border:1px solid #46433F; border-radius:5px; }
.login_common .joined_id li {padding:8px 20px; }

/* 회원가입 / 비밀번호찾기 */
.join_header {z-index:100; position:relative; width:100%; padding:10px 0; border-bottom:1px solid #DADDE0; text-align:center; }
.join_header .back_img {position:absolute; left:10px; top:calc(50% - 15px); }
.join_header .back_img svg {width:30px; height:30px; }
.join_header .close_btn {position:absolute; right:10px; top:calc(50% - 15px); }
.join_header .close_btn svg {width:30px; height:30px; }
.join_header h3 {font-size:18px; font-weight:500; color:#1b1b1b; }

.join_common {padding:20px 0; min-height:calc(var(--vh, 1vh) * 100); }
.join_common .title h3 {font-size:22px; font-weight:600; color:#1b1b1b; }
.join_common .title .info {margin:5px 0 6px; padding:8px; background-color: #f7f7f7; border-radius:5px; font-size:10px; color:#828282; font-weight:500; }
.join_common .form_box {width:100%; margin:0 auto; }
.join_common .btn_box {padding-top:32px; border-top:1px solid #e0e0e0; text-align:center; }
.join_common .btn_box button {width:100%; }

.join_common .join_type > div {margin-top:20px; }
.join_common .join_type p {margin-bottom:10px; padding-bottom:7px; color:#1b1b1b; font-size:16px; font-weight:600; }
.join_common .join_type button {width:100%; padding:5px 0; border:1px solid var(--danger_color); color:var(--danger_color); border-radius:5px; font-size:14px;  }
.join_common .join_type button.on {background-color: var(--danger_color); color:#fff; }
.join_common .join_type span {display:block; margin:10px 0; font-size:12px; word-break:keep-all; color:var(--gray_color); }

.join_comp {padding:20px 0; min-height:calc((var(--vh, 1vh) * 100) - 48px); }
.join_comp h4 {font-size:24px; font-weight:600; }
.join_comp .info_box {padding:20px 40px; background-color:#f7f7f7; border-radius:5px; font-weight:500; }
.join_comp h5 {font-size:17px; font-weight:600; }


.agree_modal_body {padding:20px 15px; }
.agree_modal_body h3 {font-size:16px; color:#1b1b1b; }
.agree_modal_body .scroll_box {margin-top:20px; font-size:10px; }
.agree_modal_body iframe {width:100%; height:calc((var(--vh, 1vh) * 100) - 100px); background-color:#f0f0f0;}



/* ------------------------------------
    검색 모달
------------------------------------ */
.modal .search_wrap {position:relative; border-top-left-radius:0; border-top-right-radius:0; }
.search_wrap .title {padding:20px 0; text-align:center; }
.search_wrap .title p {font-size:16px; font-weight:600; }
.search_wrap .title p span {color:var(--main_color); }
.search_wrap .title_type {display:flex; align-items:center; justify-content:space-between; }
.search_wrap .title_type p {font-size:18px; font-weight:600; }
.search_wrap .title_type span {font-size:12px; color:var(--gray_color); }

.search_wrap .search_btn_list { margin-bottom:40px; }
.search_wrap .search_btn_list li + li {margin-top:8px; }
.search_wrap .search_btn_list li button {width:100%; height:51px; border:1px solid #DADDE0; border-radius:3px; }
.search_wrap .search_btn_list li.active button {border:1px solid var(--main_color); color:var(--main_color); }

.search_wrap .search_btn_list.type02 {display:grid; grid-template-columns:repeat(2,1fr); gap:10px; }
.search_wrap .search_btn_list.type02 li + li {margin-top:0;}
.search_wrap .search_btn_list.type02 li button {color:var(--gray_color); }
.search_wrap .search_btn_list.type02 li.active button {border:1px solid var(--main_color); color:var(--main_color); font-weight:600; }
.search_wrap .search_btn_list.type02 .all_btn {grid-column:span 2; margin-bottom:10px; }
.search_wrap .search_btn_list.type02 .all_btn button {border:1px solid #46433F; color:#000; }

.search_wrap .search_list {margin-top:5px; }
.search_wrap .search_list a {display:flex; align-items: center; justify-content: space-between; gap:10px; padding:10px 0; }
.search_wrap .search_list a i {font-weight:600; color:var(--main_color); font-style:normal;}
.search_wrap .search_list a p {flex-grow:1; text-align:left; }
.search_wrap .search_list .tag {display:flex; gap:5px; }
.search_wrap .search_list .tag span {padding:6px 10px; border:0.5px solid rgba(218, 221, 224, 0.60); font-size:11px; font-weight:400; border-radius:3px; background-color:#f5f5f5; ;}

.search_intro {position:relative; border-top:6px solid #F5F5F5;  padding:18px; }
.search_intro:before {content:''; position:absolute; top:-6px; left:0; width:50%; height:6px; background-color:var(--main_color);}

.search_popular {position:relative; border-top:6px solid var(--main_color); padding:18px; }
.search_new {position:relative; border-top:6px solid var(--main_color); padding:18px; }
.search_sale {position:relative; border-top:6px solid var(--main_color); padding:18px; }
.search_category {position:relative; border-top:6px solid var(--main_color); padding:18px; }
.search_popcategory {position:relative; border-top:6px solid var(--main_color); padding:30px 18px; }
.search_company {position:relative; border-top:6px solid var(--main_color); padding:30px 18px; }



/* ------------------------------------
    테이블 공통 : 마이 페이지 
------------------------------------ */
.table_layout {width:100%; table-layout:fixed; }
.table_layout thead th,
.table_layout tfoot th {padding:9px; font-size:14px; font-weight:500; color:#fff; background: #8E8E8E; }
.table_layout tbody tr:first-of-type {border-top:1px solid #dadde0; }
.table_layout tbody tr {border-bottom:1px solid #dadde0; }
.table_layout tbody th,
.table_layout tbody td {padding:7px 10px; }
.table_layout tbody th {height:46px; padding:10px 20px; font-size:14px; font-weight:400; background: #F5F5F5; text-align:center; }
.table_layout .input-form {height:40px; border-radius:3px; }

.order_prod_list li { padding:20px 16px; border:1px solid #dadde0; border-radius:3px; }
.order_prod_list li + li {margin-top:20px; }
.order_prod_list li .img_box {position:relative; }
.order_prod_list li .img_box img {max-width:72%; margin:0 auto; }
.order_prod_list li .img_box label {position:absolute; left:0; top:0; }
.order_prod_list li .right_box {margin-top:10px; }
.order_prod_list li .right_box h6 {margin-bottom:16px; font-size:16px; font-weight:400; }

.order_price_total {border:1px solid #dadde0; }
.order_price_total h5 {padding:10px 0; color:#fff; font-weight:500; background: #46433F; text-align:center; }
.order_price_total .price {padding:10px 10px; }
.order_price_total .price p {display:flex; align-items:center; justify-content:space-between; width:100%; margin-left:auto; }
.order_price_total .price p + p {margin-top:3px; }
.order_price_total .price p b {font-size:18px; font-weight:500; }

.order_price_total .total {padding:20px; border-radius: 0px 0px 3px 3px; background: #F5F5F5; text-align:right; }
.order_price_total .total p {font-size:14px; font-weight:500; }
.order_price_total .total b {font-size:24px; font-weight:700; color:var(--main_color); }



/* ------------------------------------
    서브페이지 배너 : 마이 페이지 
------------------------------------ */
.sub_banner {display:flex; align-items:center; justify-content:center; width:100%; height:54px; background-color:var(--main_color); }
.sub_banner.type02 {background-color:#9462C3; }
.sub_banner h3 {font-size:20px; font-weight:700; color:#fff; }


/* ------------------------------------
    상품등록 퀵버튼
------------------------------------ */
#prod_regist_btn {z-index:50; position:fixed; right:18px; bottom:70px; display:flex; align-items:center; justify-content:center; width:50px; height:50px; border-radius:50%; background-color:var(--main_color); color:#fff; text-align:center; line-height:1.15; }
#prod_regist_btn.hidden {display:none; }
#prod_regist_btn a {display:block; }